<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <img src="../../assets/images/logo.png" class="img-fluid logo-menu">
            </div>
            <div class="col-md-6 mt-5 align-self-center">
                <h1>Vue.js</h1>
                <p class="text-justify">Projeto de código aberto com Vue.js para prática. Este projeto utiliza vue-resource como serviço HTTP, vue-router para criar rotas e bootstrap-vue para Navbar e input select. Faça uma pesquisa de endereço através do CEP, pesquise o valor atual de uma moeda em relação ao Real e codifique uma imagem com Base64.</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        
    },
    props: {
        
    },
    methods: {
        
    }
}
</script>

<style scoped>
.input-cep {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.logo-menu {
    width: 70%;
}
</style>